{%extends 'header.html' %}

{% block body %}
<div style="background-color:#fbab68; "> 
<h1 style="text-align:center">Welcome to Job Tracker!</h1>
</div>
<br>
<br>
<div style="background-color:#fbab68; width: 610px; padding: 25px; margin-left: 350px; border-radius: 15px; border-style: solid; border-width:5px;">
        <p>
        Here you can track jobs, log application status, and other information. <br>
        <ol>
            <li>Use the 'Add' page to add a new job.</li>
            <li>Fill out the information. All fields are required. Enter 'N/A' if unknown.</li>
            <li>Use the 'View' page to view all current entries.</li>
        </ol>  
        </p>

</div>

{% endblock %}