{% extends "header.html" %}

{% block body %}
<!--example of how data from the database could look on the frontend.-->
<table>
    <th>Company</th>
    <th>Role</th>
    <th>Level</th>
    <th>Pay</th>
    <th>benefits</th>
    <th>location</th>
    <th>status</th>
    <th>notes</th>
    {% for application in applications %}
        <tr>
            <td>{{application.company}}</td>
            <td>{{application.role}}</td>
            <td>{{application.level}}</td>
            <td>{{application.pay}}</td>
            <td>{{application.benefits}}</td>
            <td>{{application.location}}</td>
            <td>{{application.status}}</td>
            <td>{{application.notes}}</td>
            <td>
                <form action="/delete" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value={{application.id}} name="application_id">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
